body {
}

.content {
    padding: 20px;
    padding-top: 0px;
} 

#playlist .current td, #playlist .current th {
	background: #117DA9;
	color:#fff
}
#playlistContainer .item {cursor:pointer}
#playlistContainer .item:hover td, #playlistContainer .item:hover th {background:#B3C6CE}

@media only screen and (min-width: 980px), only screen and (min-width: 980px) {
    .content {
        padding-top: 150px;
    }
}